extends layout

h1 Super Secret Admin Stuff
p Proceed with caution
div(class="users")
    table(class="userTable")
        th
        th Name
        th User Level
        th Email
        th Age
        th
        each item in users
            td #{item}.image
            td #{item}.name
            td
                a(href='/admin') Delete