extends layout

include ./mixins/message.pug

block content
    div(class="block")
        h1 Join in the Swamp!
    //- div(class="section")
    //-     p Want to talk about swamp stuff?
    //- div(class="section sectionRight")
    //-     p Just create an account!
    div(class="messageBoard")
        h2(class="boardTitle") Message Thread
        +message
    each message in board
        div(class="message")
            p(class="messageDelete") Delete
            p(class="messageEdit") Edit
            p(class="messageUser") User: #{message.username}
            img(class="messageUser" src=message.imageURL) 
            p(class="messageContent") Message: #{message.message}
            p(class="messageDate") Date: #{message.date}
