doctype html

html
    head
        link(href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet")
        link(href='/style.css' type='text/css' rel='stylesheet')
    body
        nav
            ul
                each item in menu
                    li(class=item[2])
                        a(href=item[1]) #{item[0]}
        //- - var admin = user.isAdmin
        block content
        script(src='script.js')
        footer
            p &copy; Swampy Inc.
