extends layout

block content
    h2 Login
    form(action="/Auth/Login", method="POST", class="loginForm")
        .formGroup
            div(class="inptField")
                label(for="username") UserName:
                input(type="text", name="username")
        .formGroup
            div(class="inptField")
                label(for="password") Password:
                input(type="password", name="password")
        .formGroup
            div(class="inptField")
                input(type="submit", value="Login", class="login")