extends layout

block content
    form(action="/Auth/Login", method="POST")
        .formGroup
            label(for="username") UserName:
            input(type="text", name="username")
        .formGroup
            label(for="password") Password:
            input(type="password", name="password")
        .formGroup
            input(type="submit", value="Login")