extends layout

block content
    h2(class="profileName") #{user.username}
    a(href="/Auth/Logout", class="profileLogout") Logout
    img(src=user.imageURL, class="profileImage")
    a(href="/Profile/Edit", class="profileEdit") Edit
