extends layout

block content
    h2 Create a New Account
    form(id='form', method="post", action="/Auth/Register")
        p Username:&nbsp;
            input(type="text", name="username", required)
        p Password:&nbsp;
            input(type="text", name="password", required)
        p Are you an Admin?&nbsp;
            input(type="checkbox", name="admin")
        p Email:&nbsp;
            input(type="text", name="email")
        p Age:&nbsp;
            input(type="number", name="age")
        p 
            input(type="submit", value="Send It")