/*
 *  Color Palette:
 *      - Rich Black:   #040303
 *      - Beige:        #FAF3DD
 *      - Pale Silver:  #C8D5B9
 *      - Artichoke:    #8B9D83
 *      - Eton Blue:    #8FC0A9
 */

html {
    font-family: 'Sniglet', cursive;
    background: #C8D5B9;
}

h1, h2 {
    color: #8FC0A9;
    text-shadow: 1px 1px 4px #040303;
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

p {
    color: #FAF3DD;
    font-size: 25px;
}

body {
    width: 65%;
    margin: 60px auto;
    padding: 5px;
}

footer {
    margin: 75px auto 0px auto;
    width: 50%;
    text-align: center;
    text-shadow: 1px 1px 2px #040303;
}

article {
    background: #8B9D83;
}

nav {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

nav ul {
    width: 100%;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    list-style-type: none;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: #8B9D83;
    height: 60px;
    box-shadow: 0px 0px 10px #040303;
}

nav li {
    float: left;
    padding: 0;
    margin: 0;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 17px 15px;
    font-size: 25px;
}

nav a:hover {
    background: #C8D5B9;
}

.menuItem a {
    color: #FAF3DD;
}

.home a {
    font-size: 40px;
    padding: 5px 10px;
}

.right {
    float: right;
    background: #8FC0A9;
}

.block {
    margin: 15px 0px;
    background: #8B9D83;
    border-radius: 5px;
    padding: 10px;
}

.section {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    width: 70%;
    background: #8B9D83;
    border-radius: 5px;
    text-align: left;
}

.sectionRight {
    text-align: right;
}

.messageBoard {
    margin: 15px 0px;
    background: #8B9D83;
    border-radius: 5px;
    padding: 10px;
}

.boardTitle {
    text-align: center;

}

.createMessage {
    margin: 10px auto;
}

#newMessage {

}

.messageText {
    font-family: 'Sniglet', cursive;
    display: block;
    width: 75%;
    height: 80px;
    max-width: 75%;
    min-width: 75%;
    max-height: 120px;
    min-height:  40px;
    margin: 10px auto;
    background: #8FC0A9;
    border: 1px solid #040303;
    border-radius: 5px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    padding: 5px;
    color: #FAF3DD;
    font-size: 25px;
}

.messageText:focus {
    box-shadow: 0 0 0 2pt #C8D5B9;
    outline: none;
}

.messageSubmit {
    display: block;
    margin: 20px auto;
    width: 30%;
    height: 40px;
    font-size: 30px;
    background: #8FC0A9;
    color: #FAF3DD;
    border-radius: 5px;
    border: 1px solid #040303;
    border-right-width: 2px;
    border-bottom-width: 2px;
}

.messageSubmit:focus {
    box-shadow: 0 0 0 1pt #C8D5B9;
    outline: none;
}

.messageSubmit:hover {
    background: #C8D5B9;
    cursor: pointer;
}

.message {
    background: #8FC0A9;
    padding: 5px 15px;
    margin: 10px 0px;
    border: 1px solid #8B9D83;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-radius: 20px;
}

.messageImage {
    display: inline-block;
    border: 1px solid #040303;
    border-radius: 5px;
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.messageUser {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    font-size: 35px;
    font-weight: bold;
}

.messageEdit {
    float: right;
    margin: 15px 10px;
}

.messageDelete {
    float: right;
    margin: 15px 10px;
}

.message a {
    text-decoration: none;
    color: #040303;
}

.messageContent {
    margin: 25px 10px;
}

.messageDate {
    text-align: right;
    color: #8B9D83;
    text-shadow: 1px 1px 1px #040303;
}

.profileName {
    text-align: center;
}

.profileLogout {
    text-align: center;
    margin: 5px 0px 20px 0px;
    padding: 0;
    font-size: 25px;
    text-decoration: none;
    color: #040303;
    display: block;
}

.profileImage {
    display: block;
    margin: 20px auto;
}

.profileEdit {
    text-align: center;
    margin: 10px 0px 20px 0px;
    padding: 0;
    font-size: 25px;
    text-decoration: none;
    color: #040303;
    display: block;
}

.form-group{
    display: flex;
}

.hide {
    display: none;
}

.barGraph {
    text-align: center;
}

#barCanvas {
    width: 700px;
    height: 400px;
    border: 3px solid #8FC0A9;
    border-radius: 8px;
    margin: 40px 0px;
    background: #8B9D83;
}
#scream {
    display: none;
}

.users {
    margin: 20px 0px;
    background: #8FC0A9;
    border: 2px solid #8B9D83;
    border-radius: 5px;
    border-bottom-width: 4px;
    border-right-width: 4px;
    padding: 10px;
}

.userTable {
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    margin: 5px auto;
    background: #8B9D83;
    color: #040303;
    font-size: 20px;
}

.userTable td, .userTable th {
    word-wrap: break-word;
    max-width: 100px;
    padding: 10px 15px;
    border: 2px solid #040303;
    margin: 0;
}

.userTable .email {
    max-width: 250px;
}

tr:hover {
    background: #FAF3DD;
}

.userTable a {
    text-decoration: none;
    color: #8FC0A9;
    text-shadow: 1px 1px 2px #040303;
}

.userTable a:hover {
    cursor: pointer;
}

.userImage img {
    display: block;
    width: 75px;
    height: 75px;
    /* border: 1px solid #040303; */
    border-radius: 3px;
}

.inptField {
    margin: 20px 0px;
    font-size: 25px;
}

.inptField label {
}

.inptField .login {
    height: 40px;
    padding: 5px;
}

.inptField .login:hover {
    background: #FAF3DD;
    cursor: pointer;
}

.inptField input {
    font-family: 'Sniglet', cursive;
    padding: 3px;
    margin: 0px 5px;
    border: 1px solid #040303;
    border-radius: 5px;
    height: 30px;
    font-size: 25px;
}

.inptField input:focus {
    box-shadow: 0 0 0 1pt #FAF3DD;
    outline: none;
}

.loginForm {
    margin: 20px 0px;
}

.inptField .admin {
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}