html
    head
        title Profile
        link(rel="stylesheet", href="style.css")
    body
        h2 #{userName}
        a(href="/Logout") Logout
        img(src=imageURL)
        a(href="/Profile/Edit") Edit
