html
    head
        title Profile
        link(rel="stylesheet", href="style.css")
    body
        h2 #{userName}
        img(src=imageURL)
        div 
            each item in face
            .form-group
                label(for="color") Eyes
                input(type="color" name="color" value="00ff00")
            .form-group
                label(for="color")
                input(type="color" name="color" value="00ff00")
            .form-group
                label(for="color")
                input(type="color" name="color" value="00ff00")
            .form-group
                label(for="color")
                input(type="color" name="color" value="00ff00")
        script
