html
    head
        title Profile
        link(href="/style.css" type="text/css" rel="stylesheet")
    body
        h2 #{profile.username}
        a(href="/Logout") Logout
        img(src=profile.imageURL)
        a(href="/Profile/Edit") Edit
